<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generative City Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="sceneContainer"></div>
    <h1>Generative City Playground</h1>
    <button id="playButton"><span class="play-arrow"></span></button>
    </div>
    <script type="module" src="{{ url_for('static', filename='volpe.js') }}"></script>
</body>
</html>
