.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: white
}

h1 {
  position: absolute;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  top: 50px;
  text-align: center;
  color: white;
  font-size: 60px;
}

h2 {
  position: absolute;
  top: 150px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.App .chart-container {
  position: relative;
  align-items: center;
  bottom: -28%;
  height: 80%;
  width: 100%;
  color: white;
  transform: "translate(-50%, -50%)";
  z-index: 1;
}

.App .chart-container .pie-chart {
  position: absolute;
  top: 0;
  left: 0;
  width:auto;
  height: 100%;
  
}

.App .chart-container .indicator-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.App .chart-container .radar-chart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .openModalBtn{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color:white;
  cursor: pointer;
}

.modalBackground {
  width: 50vw;
  height: 50vh;
  background-color: rgba(200,200,200);
  position: fixed;
  display: fixed;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 50vw;
  height: 50vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  display: fixed;
  justify-content: center;
  /* flex-direction: column; */
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  flex-direction: column;
  padding: 25px;
}



.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* .modalContainer .body {} */

.modalContainer .footer {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color:white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.App .slider-container {
  position: absolute;
  top: 190px;
  left: 150px;
  /* transform: translateX(-50%); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 5px 0; */
  height: 15%;
  padding: 5px;
  background-color: none;
  z-index: 2;
}

.slider-label {
  /* text-align: right; */
  /* position: absolute; */
  /* margin-bottom: 5px; */
  /* top:240px; */
  /* left: 300px; */
  font-size: 15px;
}

.horizontal-slider {
  width: 100%;
  max-width: 200px;
  height: 100vh;
  margin: 10px;
  position: absolute; 
  left: 170px; 
  bottom: 40px;
}


.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.961);
}

.example-thumb.active {
  background-color: #fdfdfd;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
